body{
    font-family: "DM Sans", sans-serif;
}
/* h1,h2,h3,h4 */


li{
    list-style-type: none;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.clearfix>*{
float: left;
}
.row{
    text-align: center;
}
.container-fluid.dgocean{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    border:1px solid red
}

