/* #region  NAVBAR */
.navbar{
    margin-bottom: 0;
    border:0;
    box-shadow: 0 2px 4px rgba(3,27,78,.1);
    z-index:1;
    background: #fff
}
.navbar>*{
    padding:0 20px;
}
.navbar .navbar_top{
    border-bottom: 1px solid #ddd;
    height:40px;
}
.navbar .navbar_bottom{
    padding-top:10px;
    padding-bottom:10px
}

.navbar .navbar_bottom .navbar-brand{
    margin-top: 10px;
    padding:0 15px;
    line-height:29px;
    height:auto;
    color: #0069ff
}
.navbar .navbar_bottom img{
    float:left;
    margin-right: 10px;
    height:29px;
}
.navbar .navbar_bottom img.img-white{
    display: none;
}
.navbar .navbar_bottom img.img-blue{
    display: block;
}
.navbar .nav-list_bottom {
    margin-top:14px;
    margin-left:64px;
}
.navbar .nav-list_bottom a{
    padding:0 15px;
}

/* #endregion */


/* [class^="col-"]{
    border:1px solid black;
} */

/* #region  HEADER */
main{
    margin-top:40px;
}
#header{
    color: #fff;
}
#header.bg-header{
    background: #0248ff url(../img/bg-home-1-d54581d7.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 90px;
    min-height: 800px;
}
/* only background */
/* @media (max-width:1207px){
#header.bg-header{
    padding: 104px 0;
}
}
@media (max-width:767px){
    #header.bg-header{
        padding: 64px 0;
        background: #0248ff;
    }
} */


#header .row{
    position: relative;
    padding:64px 0
}

/* header form */
#header .form-column{
    padding:16px 0 0 16px;
}
#header .form-wrapper{
    background-color: #fff;
    border: 1px solid rgba(3,27,78,.1);
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px rgba(3,27,78,.1);
    box-shadow: 0 10px 20px rgba(3,27,78,.1);
    margin: 0;
    padding: 32px;
    position: relative;
}
#header .form-group label{
    color:#000;
    visibility:hidden;
}
#header .form-wrapper input{
    height:48px;
}
#header .form-wrapper input,
#header .form-wrapper input::placeholder{
    font-size:1.6rem
}
#header .form-wrapper .btn-create{
    width:100%;
    background:#1942FF;
    color: white;
    font-size: 1.6rem;
    height:48px;
    border:0;
    font-weight:500;
}
#header .form-divider{
    font-size: 1.6rem;
    color:#777;
    font-weight: 400;
}
#header .position-btn{
    position: relative;
    border:1px solid red;
    width:48%;
    background: #d5e4f7;
    border: 1px solid rgba(0,105,255,.2);
    border-radius: 5px;
    height:48px;
}
#header .position-btn:first-child{
    margin-right: 2%;
}
#header .sign-social a{
   font-size: 1.6rem;
   font-weight: 700;
   color:#031b4e;
}
#header .sign-social img{
    left:15px;
}

/* #endregion */


/* #region  PARTNER */
#partner{
    background: #F3F5F9;
    padding:64px 0;
}
#partner .row{
    padding:0 32px;
    text-align: center;
    line-height: 72px;
    margin:16px 0;
}
#partner .col-sm-2{
    line-height: 72px;
}
#partner .col-sm-2:not(:last-child) img{
    max-width: 100%;
    max-height:76px;
}
#partner .col-sm-2:last-child img{
    max-width:100%;
    max-height:36px
}
@media (max-width:767px){
    #partner .row,
    #partner .col-sm-2{
        line-height: 166px;
    }
}
@media (max-width:567px){
    #partner .row,
    #partner .col-sm-2{
        line-height: 128px;
    }
}
@media (max-width:470px){
    #partner .row,
    #partner .col-sm-2{
        line-height: 98px;
    }
}
@media (max-width:399px){
    #partner .row,
    #partner .col-sm-2{
        line-height: 76px;
    }
}
/* #endregion */


/* #region  OVERVIEW */
#overview{
    padding:60px 0 64px;
}
#overview .col-sm-1{
    height:100px
}
#overview h2{
    margin:0 0 16px;
}
#overview .col-xs-6{
    text-align: left;
    margin-bottom: 32px;
}
/* #endregion */


/* #region  DEVELOPERS */
#developers{
    background: #f3f5f9  ;
    padding:60px 0;
}
#developers .wrapper-scroller {
    padding: 0 60px;
    position:relative;
}
#developers img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(3,27,78,.06);
  
}
#developers p.p-section_sub {
    text-align: center;
    margin-top: 30px;
    color:#000
}
#developers .control-scroller-l,
#developers .control-scroller-r{
    height:81%;
    cursor:pointer;
    background:none;
}
#developers .control-scroller-l:hover,
#developers .control-scroller-r:hover{
    color:#0069ff;
}


/* #endregion */


/* #region  BUSINESS */
#business{
    padding:120px 0
}
#business .col-sm-3{
    text-align: left;
}
#business h3{
    font-weight: 700;
}
#business #cert-size{
    width:41px;
    height: 41px;
}
@media (max-width:959px){
    #business .col-sm-3{
        width:calc(((100% / 12) * 6));
        min-height: 250px;
        padding-bottom: 0;
    }
}
@media (max-width:767px){
    #business .col-sm-3{
        min-height: 320px;
    }
}
@media (max-width:449px){
    #business .col-sm-3{
        width:100%;
        padding-bottom: 30px;
        min-height: auto;
    }
}
/* #endregion */


/* #region  SERVICES */
#services{
    padding:120px 0;
    background: #031A4E url("../img/data-center-map-20321538.svg")
}
/* #endregion */


/* #region  EXPIRIENCE */
#expirience{
    background:#F3F5F9;
}
.wrapper-scroller_expirience{
    background: #fff;
    padding:32px;
    height:360px;
}
/* #endregion */



/* #region  START NOW */
.bg-start-now{
    background: url("../img/bg-home-1-d54581d7.jpg");
    background-position: 11% 97%;
    background-repeat: no-repeat;
    padding-bottom: 64px;
    padding-top: 64px;
}
/* #endregion */


/* #region  FOOTER */
#footer{
    background: #010E27
}
#footer{
    background: #010E27;
    padding:96px;
}
#footer .mr-offset-footer{
    margin-left: calc(((100% / 12) * 2) / 2);
}
.footer_bottom{
    margin-top: 32px;
    border-top:1px solid #fff;
    padding-top:32px;

}
/* #endregion */



@media (min-width:1200px){
}
@media (max-width:1199){   
}
@media (max-width:1049px){
    .navbar-fixed-top{
        position: absolute;
        right: initial;
        left: initial;
        width:100%;
        background: transparent;
        box-shadow: none
    }
    .navbar .navbar_top{
        display: none;
    }
    .navbar .navbar_bottom{
        padding: 32px 20px;

    }
    .navbar .navbar_bottom .navbar-brand{
        color:white;
    }
    .navbar-brand>img {
        display: block;
    }
    .navbar .navbar_bottom img.img-blue{
        display: none;
    }
    .navbar .navbar_bottom img.img-white{
        display: block;
    }
    .navbar .navbar_bottom .nav-list_bottom,
    .navbar .navbar_bottom form{
        display:none;
    }

    main{
        margin-top: 0;
    }
}
@media (min-width:992px) and (max-width:1199){
}
@media (max-width:991){

}
@media (min-width:768px) and (max-width:991){
}
@media (max-width:767px){
    #header.bg-header{
        background: #0248ff
    }
    #header .form-column{
        padding:0;
    }
    #header .col-sm-7.pos-absolute-yl {
        position: initial;
        transform: unset;
    }
    #partner .col-sm-2:not(:last-child) img,
    #partner .col-sm-2:last-child img{
        max-width: 100%;
        max-height:100%
    }
    #overview ul{
        padding:10px;
        margin-bottom: 30px;
    }

    #developers .wrapper-scroller {
        padding: 0;
        position:relative;
    }
    #developers .control-scroller-l,
    #developers .control-scroller-r{
    display: none;
}

}
@media (min-width:576px) and (max-width:767px){
}