.navbar_top{
    background: #666
}
.navbar_bottom{
    background: #b8fc9e
}



.navbar{
    margin-bottom: 0;
    border:0;
}
#header .bg-header{
    background: url("../img/bg-home-1-d54581d7.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 800px;
}

[class^="col-"]{
    border:1px solid black;
}

#header{
    color: #fff
}

#header .form-wrapper{
    background-color: #fff;
    border: 1px solid rgba(3,27,78,.1);
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px rgba(3,27,78,.1);
    box-shadow: 0 10px 20px rgba(3,27,78,.1);
    margin: 0;
    padding: 32px;

}
#partner{
    background: #F3F5F9;
}
#partner .row{
    border:1px solid violet;
    line-height:79px;
    text-align: center

}

#partner img{
    max-width:59%;
    height:auto; 
}

#overview .col-sm-1{
    height:100px
}
.wrapper-scroller{
    border:1px solid red;
}
#developers img{
    width: 736px;
    height: auto
}
#cert-size{
    width:41px;
    height: 41px
}

#services{
    padding:120px 0;
    background: #031A4E url("../img/data-center-map-20321538.svg")
}

#expirience{
    background:#F3F5F9;
}
.wrapper-scroller_expirience{
    background: #fff;
    padding:32px;
    height:360px;
}